body {
    background: #ccc;
    text-align: center;
    font-family: sans-serif;
}

.theform {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 20px;
    color: #eee;
    background-color: black;
}

@media screen and (max-width:720px) {
    .theform {
        width: 90%;
    }
}

.cont {
    width: 50%;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:720px) {
    .cont {
        width: 90%;
    }
}


.hidden {
    opacity: 0;
}