<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>37c3 voucher c-base.org</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script defer src="/static/vendor/alpinejs.min.js"></script>
    <style>
      table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
      }
      th, td {
        padding: 4px;
      }
    </style>
  </head>
  <body>
    {% block content %}{% endblock content %}
	<!--<script src="index.js"></script>-->
  </body>
</html>