{% extends "base.html" %}

{% block content %}
<div class="cont" style="">
   <a href="./logout/">Logout</a>
</div>
<h1>Hello {{ user.nickname }}</h1>
<p>You want to get voucher for 37C3?</p>
<p>This is good. c-base has a voucher that is good for max. {{ total_tickets }} tickets.</p>

<form method="post" enctype="multipart/form-data" action="./giveme/">
<div class="theform">
<p>
    <label for="num_tickets">How many tickets do you intend to buy?</label><br>
    <input style="font-size: 24px; margin-left: 3px; margin-top: 5px;" id="num_tickets" type="number" step="1" value="{{ my_val }}" min="0" max="30" name="num_tickets" required>
</p>
<p>
    <input id="agree1" type="checkbox" step="1" name="agree1" required>
    <label for="agree1">I will only buy tickets for myself</label>
</p>
<p>
    <input id="agree2" type="checkbox" step="1" name="agree2" required>
    <label for="agree2">I will not LEAK this voucher to other people!</label>
</p>
<p>
    <input type="submit" value="Submit voucher request" style="font-size: 24px;">
</p>
</div>
</form>

<p>Tickets left: {{ tickets_left }}</p>

<p>The following people already have got access to the voucher:</p>

<div class="theform">
    {% for person in users %}
        {{ person.nickname }}: {{ person.num_tickets }} tickets<br>
    {% else %}
        Nobody has bought a ticket yet.
    {% endfor %}
</div>

<p>If change your mind, you can set the number of tickets to 0 and submit your request again.
<br>If you decide that you need more or less tickets, just enter the desired number above, too.</p>

<p style="margin-top: 30px;">DE</p>
<p>Der Ticketverkauf startet am <b>Donnerstag</b> und ist zeitlich limitiert. Deswegen müsst ihr am Donnerstag Abend pünktlich um 21:00 Uhr euren Voucher auch benutzen.
<br>Am besten ihr schaut ab 20:50 Uhr auf https://tickets.events.ccc.de/37c3/ und folgt den (hoffentlich dort stehenden) Anweisungen.
<br>Evtl wäre es auch gut sich abzusprechen und Tickets für eine andere Person mitzukaufen.</p>

<p>EN</p>
<p>Ticket sale starts on <b>Thursday</b>! The ticketsale is a limited event. You should be on time on Thursday evening at 9 PM (CET) to use your voucher.
<br>So it would be best to check https://tickets.events.ccc.de/37c3/ at 8:50 PM and follow the instructions (hopefully there).
<br>It might also be a good idea to coordinate with other people and buy tickets for them, too.</p>
{% endblock content %}
